.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin:0;
    padding:0;
}
/* shared style */
.display-flex{
    display:flex;
}
.section-description{
    width: 505px;
    color: rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 600;
}
header{
    max-width:1440px;
    margin:0 auto;
}

/* navbar related style */
.navbar{
    margin-top:87px;
    justify-content:space-between;
}
.items{
    list-style: none;
    gap:34px;
}
.link{
    text-decoration:none;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}
.nav-brand{
    font-size: 1.5rem;
    font-weight: 700;
}

/* top banner */
.top-banner{
    margin-top:146px;
    background-image:url('../images/Circle design.svg');
    background-repeat:no-repeat;
    background-position: bottom right;
    justify-content:space-between;
    align-items:center;
}
.banner-content{
    width: 582px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-btn{
    margin-top:16px;
    width: 196px;
    height: 44px;
    background:rgba(224, 44, 109, 1);
    color:rgba(255, 255, 255, 1);
    border-radius: 41px;
    border:none;
    justify-content:center;
    align-items:center;
    /* text-align:center; */
    gap:10px;
    font-size: 1rem;
    font-weight: 700;
}
/* sponsors */
.sponsors-parent{
    margin-top:150px;
    justify-content:center;
    align-content:center;
    /* text-align:center; */
}
.sponsors-child{
    border-top:1px solid  rgba(192, 204, 218, 0.6);
    max-width: 1110px;
    justify-content:center;
    gap:61px;
    padding:35px;
    border-bottom:1px solid  rgba(192, 204, 218, 0.6); 
}